#torso {
    width: 70%;
    height: 80%;
    padding: 20px;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background-color: rgb(172, 205, 255);
    border-color: cornflowerblue;
    border-style: ridge;
    border-width: 10px;
    border-radius: 5px;

    overflow: auto;
}

#send {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50px;

    font-size: 30px;

    background-color: whitesmoke;
}
#send:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 10px 0 rgba(0,0,0,0.19);
}
#send:active {
    background-color: lightgray;
}

#code {
    font-size: 17px;
    padding: 10px;
}

select, option {
    height: auto;
    display: inline-block;

    font-size: inherit;

    background-color: whitesmoke;
}
select:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 10px 0 rgba(0,0,0,0.19);
}
select:active {
    background-color: lightgray;
}

#output-container span {
    display: inline-block;
    width: 13%;
    height: 1em;
}

#output-container textarea {
    float: right;
    width: 60%;
    height: .8em;
    resize: none;
}

textarea {
    resize: vertical;
    overflow: hidden;

    float: left;
    width: 100%;

    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-transform: uppercase;

    border: 3px lightskyblue;
    border-style: double;
}

body {
    background-repeat: repeat;
    background-image: url("images/blue-tile.jpg");

    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p {
    font-weight: bolder;
}