#panel-container-container, #code-container-container {
    overflow: auto;
}

#panel-container {
    margin-top: -1%;
    margin-left: 1%;
    width: 94.5%;
    padding: .5em;
}

#code-container {
    margin-left: 1%;
    width: 95.5%;
    padding: .5em;
}

.body-panel {
    background-color: rgb(172, 205, 255);
    border-color: cornflowerblue;
    border-style: ridge;
    border-width: 10px;
    border-radius: 5px;
    width: 48.5%;
    height: 47%;
    margin-bottom: 1%;
}

.body-panel:nth-child(3n) {
    width: 100%;
}

#send {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50px;
    font-size: 30px;
    background-color: whitesmoke;
}

#send:hover {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 10px 0 rgba(0, 0, 0, 0.19);
}

#send:active {
    background-color: lightgray;
}

#code {
    font-size: 1.3em;
    width:100%;

    border: 0.5em rgb(172, 205, 255) double;
    border-radius: .5em;
}

textarea {
    resize: vertical;
    overflow: hidden;
    float: left;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    border: 0.2em rgb(172, 205, 255) double;
    border-radius: .2em;
}

textarea::placeholder {
    font-size: 1em;
}

body {
    background-repeat: repeat;
    background-image: url("images/blue-tile.jpg");
    overflow: hidden;
}

h1 {
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: bolder;
}
#code-container p {
    font-size: 1.5em;
}

#torso {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 1%;
    left: 1%;
    width: 98% !important;
    height: 98% !important;
}

#torso, body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
}